[submodule "apps/console"]
	path = apps/console
	url = https://github.com/calcom/console.git
	branch = main
[submodule "apps/website"]
	path = apps/website
	url = https://github.com/calcom/website.git
	branch = main